{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<title>Corporate</title>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
<link rel='stylesheet' href="{% static 'style.css' %}">
</head>
<body>
	<div class="header-mobile">
		<nav role="navigation" style="height: 0px;">
  		<div id="menuToggle">
    	<input class="mobile-button" type="checkbox">
    	<span></span>
    	<span></span>
    	<span></span>

    	<ul id="menu">
      		<a href="/"><li>Home</li></a>
      		<a href="#"><li>About</li></a>
      		<a href="#"><li>Contact</li></a>
            <a href="/citizen"><li>Citizen</li></a>
            <a href="/police"><li>Police</li></a>
            <a href="/corporate"  class="active"><li>Corporate</li></a>
            <a href="/authority"><li>Authority</li></a>
            <a href="/essential"><li>Essential Services</li></a>
    	</ul>
  		</div>
		</nav>
	</div>
	<div class="header">
  		<a href="/" class="logo" style="color: black; font-size: 26px">LOCKDOWN PASS SYSTEM</a>
  		<div style="text-align: center; padding-top: 25px"><div class="header-right">
    		<a href="/">Home</a>
    		<a href="#contact">Contact</a>
    		<a href="#about">About</a>
            <a href="/citizen">Citizen</a>
            <a href="/police">Police</a>
            <a href="/corporate"  class="active">Corporate</a>
            <a href="/authority">Authority</a>
            <a href="/essential">Essential Services</a>
        </div></div>
	</div>
    <div class="login-wrap"  style="min-height:1000px;">
		<div class="login-html">
            <p>Welcome! Corporate.</p>
			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Request Pass</label>
			<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Pass Status</label>
			<div class="login-form">
				<div class="sign-in-htm">
                    <form method ="post" action="{% url 'corporate/request' %}" >
                    {% csrf_token %}
                        <div class="group">
                            <label for="aadhaar" class="label">Aadhaar Number</label>
                            <input id="aadhaar" name="aadhaar" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="organization_name" class="label">Organization Name</label>
                            <input id="organization_name" name="organization_name" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="cin_no" class="label">CIN Number</label>
                            <input id="cin_no" name="cin_no" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="industry_type" class="label">Industry Type</label>
                            <input id="industry_type" name="industry_type" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="num_requested" class="label">Number of passes required</label>
                            <input id="num_requested" name="num_requested" type="number" class="input">
                        </div>
                        <div class="group">
                            <label for="req_date" class="label">Date</label>
                            <input id="req_date" name="req_date" type="date" class="input">
                        </div>
                        <div class="group">
                            <label for="req_time" class="label">Time</label>
                            <input id="req_time" name="req_time" type="time" class="input">
                        </div>
                        <div class="group">
                            <label for="req_duration" class="label">Duration (hours)</label>
                            <input id="req_duration" name="req_duration" type="number" class="input">
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Submit">
                        </div>
                    </form>
                    <div>
                        {% for message in messages %}
                        <h3>{{ message }}</h3>
                        {% endfor %}
                    </div>
					<div class="hr"></div>
				</div>
				<div class="sign-up-htm">
                    <form method ="post" action="{% url 'corporate/status' %}" >
                    {% csrf_token %}
                        <div class="group">
                            <label for="aadhaar" class="label">Aadhaar Number</label>
                            <input id="aadhaar" name="aadhaar" type="number" class="input">
                        </div>
                        <div class="group">
                            <label for="req_id" class="label">Bulk Request ID</label>
                            <input id="req_id" name="req_id" type="number" class="input">
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Submit">
                        </div>
                    </form>
                    <div>
                        {% for message in messages %}
                        <h3>{{ message }}</h3>
                        {% endfor %}
                    </div>
					<div class="hr"></div>
				</div>
			</div>
		</div>
	</div>
    <footer style="background-color: #f1f1f1; overflow: hidden;">
		<p style="text-decoration-color: black; font-size: 20px; text-align: right; margin-right: 20px">#HackTheCrisisIndia</p>
    </footer>
</body>
</html>
